@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Variables */

:root {
  --ease-in-out: cubic-bezier(0.24, 0.8, 1, 0.5);
  --white-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: url("img/flags.jpg") no-repeat left center/cover;
  color: var(--white-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.micro-ico {
  z-index: -2;
  font-size: 150px;
}

h1,
h3 {
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

h3:nth-of-type(2) {
  font-size: 1.6rem;
}

p {
  margin: 0;
}

.play-again {
  padding: 8px 15px;
  border: 0;
  background: #f4f4f4;
  border-radius: 5px;
  margin-top: 10px;
}

.message {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 10px;
}

.random-word {
  margin-top: 35px;
  color: #bcccfc;
}

.score {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 4rem;
}

.good {
  color: #3dc936;
}

.bad {
  color: #f64247;
}

.box {
  border: 1px solid #dedede;
  display: block;
  margin: 20px;
  padding: 10px;
}

.buttons .speak-btn {
  margin-right: 15px;
}

.icon-change-start,
.icon-change-stop {
  transition: color 0.2s var(--ease-in-out);
}

.icon-change-start {
  color: #76e270;
}

.icon-change-stop {
  color: #ff2828;
}

.speak-btn,
.play-voice {
  transition: all 0.2s var(--ease-in-out);
}

.speak-btn:hover,
.play-voice:hover {
  color: #02141e;
  background: rgba(125, 143, 154, 0.75);
  border: 2px solid #02141e;
}

.play-voice,
.difficulty,
.speak-btn {
  border-radius: 6px;
  color: var(--white-color);
  cursor: pointer;
  outline: 0;
}

.play-voice,
.speak-btn {
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0.75);
  border: 2px solid var(--white-color);
  font-size: 1.4rem;
  margin-top: 20px;
}

.difficulty.container {
  position: relative;
}

.difficulty-container .difficulty-setting .difficulty {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  width: 200px;
  margin-top: 15px;
  padding: 5px 10px;
  border: 2px solid var(--white-color);
}

.difficulty-container .difficulty-setting {
  position: absolute;
  left: 40px;
  top: 10px;
}

.random-word,
.box {
  font-weight: bold;
  font-size: 2.3rem;
}

/* Responsive design on mobile devices */
@media (max-width: 700px) {
  .speak-btn:hover,
  .play-voice:hover {
    color: var(--white-color);
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid var(--white-color);
    font-size: 1.4rem;
    margin-top: 20px;
  }

  .micro-ico {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 50px;
  }

  h1 {
    margin-top: 0;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons .speak-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .score {
    font-size: 2.25rem;
    right: 10px;
    top: 15px;
  }

  .random-word {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .play-voice {
    margin-top: 10px;
  }

  .difficulty-container .difficulty-setting {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }
}
